@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0px;
  font-family: "Mulish", sans-serif;
}
body {
  background-color: gray;
}
.first {
  /* width: 50px; */

  background-color: rgb(69, 69, 138);
  margin-bottom: 0px;
  padding: 0px;
}
.second {
  height: 70px;
  background-color: blue;
  margin-top: 0px;
}

.logo {
  display: inline-block;
  width: 200px;
}
ul {
  text-align: right;
  width: 800px;
  display: inline-block;
  /* float: right; */
  list-style: none;
}
ul li {
  display: inline-block;
  padding: 15px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}
.second ul li {
  display: inline;
}
.card {
  margin: 100px 50px 0px;
  display: inline-block;
  background-color: antiquewhite;
  border-radius: 15px;
  text-align: justify;
  height: 250px;
  width: 250px;
  justify-content: space-between;
  padding: 15px;
}
.fa-solid {
  color: brown;
  font-size: 35px;
  margin-left: 100px;
}
.card h1 {
  margin-top: 15px;
}
.card p {
  margin-top: 10px;
}
.naslov {
  text-align: center;
  margin: 15px auto 0px;
  font-size: larger;
  color: white;
}
